@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 16% 93%;
    --foreground: 220 20% 15%;
    --card: 210 16% 98%;
    --card-foreground: 220 20% 15%;
    --popover: 210 16% 98%;
    --popover-foreground: 220 20% 15%;
    --primary: 220 39% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 15% 88%;
    --secondary-foreground: 220 20% 15%;
    --muted: 210 15% 88%;
    --muted-foreground: 220 10% 40%;
    --accent: 256 91% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 80%;
    --input: 210 10% 80%;
    --ring: 256 91% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 20% 10%;
    --foreground: 210 16% 93%;
    --card: 220 20% 12%;
    --card-foreground: 210 16% 93%;
    --popover: 220 20% 12%;
    --popover-foreground: 210 16% 93%;
    --primary: 210 16% 93%;
    --primary-foreground: 220 39% 26%;
    --secondary: 220 20% 18%;
    --secondary-foreground: 210 16% 93%;
    --muted: 220 20% 18%;
    --muted-foreground: 220 10% 60%;
    --accent: 256 91% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 20%;
    --input: 220 20% 20%;
    --ring: 256 91% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
